services:
  redis:
    image: redis:alpine
    container_name: tell.database
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - parisworkhub
    restart: unless-stopped
    command: redis-server --appendonly yes

  app:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: tell.api
    ports:
      - "3003:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - parisworkhub

volumes:
  redis-data:
networks:
  parisworkhub:
    external: true